---
---
body {
  margin: 0;
}

header {
  background-color: #52009e;
  padding: 1rem;
}

.searchForm {
  text-align: right;
  padding-right: 2rem;
}

main {
  display: flex;
  min-height: 75vh;
}

.summary {
  padding: 1rem 2rem;
  // max-width: 33%;
  h1 {
    font-size: .75rem;
  }
  ul {
    list-style-type: '-';
    padding-inline-start: 1rem;
  }
  a {
    font-size: .75rem;
    line-height: 2rem;
  }
}

.content {
  padding: 1rem 2rem;
  width: 60%;
  h1 {
    font-size: 1.25rem;
  }
  p {
    font-size: .75rem;
    line-height: 1rem;
  }
  .contact {
    font-weight: bold;
    font-size: .75rem;
    text-align: right;
    a {
      background-color: #52009e;
      border-radius: 25px;
      color: white;
      padding: 0 .5rem;
      text-decoration: none;
    }
  }
}

footer {
  background-color: #52009e;
  min-height: 4vh;
  padding: 1rem;
}
