---
---
@import "colors";
@import "buttons";
@import "links";
@import "sidebar";
@import "tasks";
@import "request-template";
@import "styleGuide";

body {
  display: flex;
  margin: 0;
}

.content {
  margin: 0 40px;
  // margin-left: 240px;
  // margin-right: 40px;
}

.line {
  border: 1px solid $color-grey-3;
  height: 0;
}
